body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  
}

.main{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
   /*padding-left: 2rem;*/
}

.first{
    background-color:   #1F2937;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: aliceblue;
   
  }

li{
    list-style-type: none;
    margin: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.Heade {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    align-items: baseline;
    
}

.headbox{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}
.second-box{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.links{
   display: flex;
   align-items: center;
   
}

ul{
    display: flex;
}

.subhead{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.content{
    font-size: 18px;
    color: #E5E7EB;
}

.btnSignUp {
    
    border: none;
}

.img1{
padding-left: 120px;
padding-right: 120px;
padding-top: 60px;
padding-bottom: 60px;
    border: 5px dotted gray; /* inner border */
      
}

.text2-and-image{
    display: flex;
    justify-content: space-between;
}

.second{
    color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
}

.box2header{
    display: flex;
    justify-content: center;
    padding-top: 2px;
    font-size: 36px;
    font-weight: bolder;
}

.img-text-box-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:2rem;
}

.img-text-box{
    display:flex;
    flex-direction: column;
    padding-left: 8px;
    gap: 2rem;

}

.image-above-text{
    margin-top: 20px;
    margin-bottom: 20px;
}

.third{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 14rem;
    padding-left: 14rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.third-testimonial-or-quote{
    font-style:  italic ;
    color: #1F2937;
    font-size: 36px;
}

.quotee{
    font-weight: bolder;
    align-self: flex-end;
}

button{
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-size: medium;
    font-weight: bolder;
    color: aliceblue;
    background-color: #3882F6;
    border-color: white;
}

.fourth{

    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    
}
.inner-main{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border-radius: 8px;
}
.whew{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #E5E7EB;
    font-size: 24px;
  
}

.foot{
    height: 8rem;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
    min-width: max-content;
    
}
.hacky-fix{
    padding-left: 150px;
    padding-right: 150px;
}